// Mixin FlexBox
@mixin flex($display:flex, $j-content:center, $a-items:center, $wrap:wrap, $gap:1.5625em) {

    display: $display;
    justify-content: $j-content;
    align-items: $a-items;
    flex-wrap: $wrap;
    gap: $gap;
    
}

/*
    NOTA PERSONAL
    $j-content = justify-content
    $a-items = align-items
*/

// ----------------------------------------------------------------------------------

// Mixin Container
@mixin contain() {

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 60vh;
    padding: 4.375em;   
    font-size: 1.5625rem;

    @media (max-width: 1800px) {
        height: auto;
        padding: 1.25em;
    }
}

// ----------------------------------------------------------------------------------

// Mixin span (degradado del nombre Alura Geek)
@mixin span() {
  background: linear-gradient(to left, #00bcd4 0%, #651FFF 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

// ----------------------------------------------------------------------------------

// Boton Azul
@mixin btn__azul {

  font-weight: $w-bold;
  color: $white-clr;

  background-color: $blue;

  border-radius: 50px;
  border: 0;
  
  padding: .9em;
  
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $h-claro;
  }

  &:active {
    opacity: .9;
  }
}

// ----------------------------------------------------------------------------------

// Boton Transparente
@mixin btn__transparente {

  font-size: 1.40rem;
  font-weight: $w-bold;
  color: $white-clr;

  background-color: transparent;

  padding: 1.3em 2em;
  
  border: 3px solid $white-clr;
  
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $gray-clr;
    background-color: $white-clr;
  }

  &:active {
    opacity: .9;
  }
}