@import"variables";

%border {
    border-width: 1px;
    border-style: solid;
    border-color: salmon;
}

%body-bg-purple {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%glass {
    background-color: $body-bg;
    box-shadow: $shadow;

    border: 2px solid $gray-clr;
    border-radius: 10px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}