// ----------------------------------------------------------------------------------

// Colores

// Color del body
$body-bg:#F5F5F7;

// Color del Borde
// $border-bg:rgba(255, 255, 255, 0.1);

// Color tipografías
$white-clr: #FFFFFF;
$gray-clr: #6E6E73;

// Color botones
$blue: #0071E3;

// Box Shadow
$shadow: 0px 0px 20px rgba(159, 157, 160, 0.3);

// Success
$success-clr: rgb(9, 195, 114);

// Error
$error-clr: rgb(255, 56, 96);

// Hover Claro
$h-claro:#2f8fef;

// Hover Oscuro
// $h-oscuro:rgb(101, 16, 175);

// ----------------------------------------------------------------------------------

// Fuentes tipográficas

// Font Weight
// W = Weight 
$w-thin: 100;
$w-Elight: 200; // E = Extra Light
$w-light: 200;
$w-medium: 500;
$w-bold: 700;

// ----------------------------------------------------------------------------------
