// Tamaños Width
$xl: 100%;
$xl-90: 90%;
$md: 80%;
$md-70: 70%;
$sm: 60%;

// View Height
$xl-vw: 100vh;
$md-vw: 80vh;
$sm-vw: 60vh;

// md = medium, sm = small
// ----------------------------------------------------------------------------------

// Fuentes tipográficas

// Font Weight
$w-thin: 100;
$w-Elight: 200; // E = Extra Light
$w-light: 200;
$w-medium: 500;
$w-bold: 700;

// w = Weight 
// ----------------------------------------------------------------------------------

// Colores

// Color del body
$body-bg:rgb(244, 244, 246);

//Footer
$footer-bg:rgb(32, 32, 31);

// fondo de los elementos p del slide principal
$p-slide: rgba(0, 0, 0, 0.240);

// Color tipografías
$white-clr: rgb(255, 255, 255);

$gray-clr: rgb(110, 110, 115);

$gray-claro:rgb(251, 251, 253);

// para los "p" de las cards (los de color salmon)
$salmon: salmon;

// para los h4 de las cards;
$black: black;

// Box Shadow
$shadow: 0px 0px 8px rgba(220, 219, 219, 0.3);

$shadow-hover: 0px 0px 9px rgba(191, 191, 191, 0.3);

// Success
$success-clr: rgb(9, 195, 114);

// Error
$error-clr: rgb(255, 56, 96);

// Color boton azul
$blue: hsl(210, 100%, 45%);

// Hover Claro
$h-claro:hsl(210, 86%, 56%);

// Hover Red Claro
$hrc-claro:hsl(348, 77%, 64%);

// azul labels de los inputs
$label:hsl(210, 67%, 51%);

// ----------------------------------------------------------------------------------
