.experiencia {
    @include flex($j-content:space-around);
    margin: 1.25em 0;
    
    img {
        width: 60%;
        height: auto;
        margin-bottom: 1.25em;

        @media (max-width: 1434px) {
            width: 100%;
        }
    }
}

.experiencia__text {
    font-size: 1.875rem;
    width: 30%;
    text-align: center;
    margin-bottom: 1.25em;

    p {
        font-weight: $w-thin;
        margin-bottom: 1.25em;
    }

    @media (max-width: 1434px) {
        width: 70%;
        font-size: 1.25em;
    }
}

button {
  height: auto;

  background-color:$white-clr;
  color: black;

  font-size: 1.5625rem;
  font-weight: $w-bold;
  text-align: center;

  padding: 0.800em 1.25em;
  margin: 0.3125em;

  border-style: none;
  border-radius: 0.5em;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.demo {
  @extend %body-bg-purple;

  color: $white-clr;
}

.fa-brands {
  margin-right: 0.400em
}

button:hover {
    box-shadow: $shadow;
}

button:active {
    opacity: 0.8;
}

.h1  {
    text-align: center;
    margin: 1.5625em;
    font-size: 2.1875rem;
}