// Container del Logo y el Nombre de la Tienda
.container__logo {
  @include flex($j-content:null, $a-items:center, $wrap:wrap, $gap:0.625em);

	.span__h1 {
		@include span();
  }

  & h1 {
    color: $gray-clr;
  }
}

// --------------------------------------------------------------------------------------------

// Barra de Búsqueda
.container--search {
  @include flex($j-content:null, $wrap:wrap, $gap:null);

  @include container__search();

}

.searchBar {
  @include search();
}

// Boton
.boton {
  @include btn__azul();
}

// --------------------------------------------------------------------------------------------

// Responsive
// Container del Header
@media (max-width: 822px) {
  .container__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Container del Logo y el Nombre de la Tienda
  .container__logo {
    flex-direction: column;
    margin-bottom: 20px;
    
  }

  // Barra de Búsqueda
  .container--search {
    width: 2.5em;

    justify-content: center;
    margin: 0;
    
    & input {
      display: none;
    }

    &:hover{
      width: 28em;
     

      input {
        width: 28em;
        display: inline-block;
      }

    }

    &:active{
      width: 28em;
     
      input {
        width: 28em;
        display: inline-block;
      }
    }
  }

}

@media (max-width: 482px) {
  // Container del Logo y el Nombre de la Tienda
  .container__logo {
    // Nombre de la Tienda
    h1 {
      font-size: 1.125rem;
    }
  }

  // Barra de Búsqueda
  .container--search {
    
    &:hover{
      width: 14em;
    
      .input {
        width: 14em;
      }

      a {
        display: none;
      }

    }
    
    &:active{
      width: 14em;
    
      .input {
        width: 14em;
      }

      a {
        display: none;
      }
    }

  }
}

